<p id="notice"><%= notice %></p>

<p>
  <b>Buque:</b>
  <%= @pg.buque %>
</p>

<p>
  <b>Nums:</b>
  <%= @pg.nums %>
</p>

<p>
  <b>Foys:</b>
  <%= @pg.foys %>
</p>



<p>
  <b>Cvis:</b>
  <%= @pg.cvis %>
</p>

<p>
  <b>Ip:</b>
  <%= @pg.ip %>
</p>


<%= link_to 'Edit', edit_pg_path(@pg) %> |
<%= link_to 'Back', pgs_path %>
